In [88]:
import pandas as pd

df = pd.read_csv('tips.csv')

In [89]:
df = df.rename(columns = {'total_bill' : 'total_conta', 'tip' : 'gorjeta', 'sex' : 'sexo', 'smoker' : 'fumante', 'day' : 'dia', 'time' : 'horario'})
df.columns

Index(['total_conta', 'gorjeta', 'sexo', 'fumante', 'dia', 'horario', 'size'], dtype='object')

In [90]:
# Remover outliers em na coluna 'gorjeta'
# Iqr ('Intervalo Interquartil')
q1_gorjeta = df['gorjeta'].quantile(0.25)
q3_gorjeta = df['gorjeta'].quantile(0.75)
iqr_gorjeta = q3_gorjeta - q1_gorjeta

limite_inferior_gorjeta = q1_gorjeta - 1.5 * iqr_gorjeta
limite_superior_gorjeta = q3_gorjeta + 1.5 * iqr_gorjeta
df = df[(df['gorjeta'] >= limite_inferior_gorjeta) & (df['gorjeta'] <= limite_superior_gorjeta)]

In [91]:
df = df.drop_duplicates()

df = df.dropna()

In [94]:
df['Percentual_gorjeta'] = ((df['gorjeta'] / df['total_conta']) * 100).round(2)
df['conta_pessoal'] = (df['total_conta'] / df['size']).round(2)
df['gorjeta_pessoal'] = (df['gorjeta'] / df['size']).round(2)

In [95]:
df.head()

,total_conta,gorjeta,sexo,fumante,dia,horario,size,Percentual_gorjeta,conta_pessoal,gorjeta_pessoal
0,16.99,1.01,Female,No,Sun,Dinner,2,5.94,8.49,0.50
1,10.34,1.66,Male,No,Sun,Dinner,3,16.05,3.45,0.55
2,21.01,3.50,Male,No,Sun,Dinner,3,16.66,7.00,1.17
3,23.68,3.31,Male,No,Sun,Dinner,2,13.98,11.84,1.66
4,24.59,3.61,Female,No,Sun,Dinner,4,14.68,6.15,0.90